@{
    ViewData["Title"] = "Contato";
      Layout = "_layout";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<address>
    Rua Maria Zilda Salustriano de Freitas, 470<br />
    Jardim Sumarézinho, Hortolândia - SP<br />
    <abbr title="Telefone">Telefone:19 98385-0857</abbr>
    
</address>

<address>
    <strong>Contato:</strong> <a href="mailto:blackbarth@outlook.com">blackbarth@outlook.com</a><br />
    @*<strong>Marketing:</strong> <a href="mailto:Marketing@example.com">Marketing@example.com</a>*@
</address>
