@{
    ViewData["Title"] = "FitCard";
}

<!DOCTYPE html>
<html dir="ltr">
<head>
    <script>
        var themeHasJQuery = !!window.jQuery;
    </script>
    <script type="text/javascript" src="~/js/jquery.js?1.0.673"></script>
    <script>
        window._$ = jQuery.noConflict(themeHasJQuery);
    </script>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="~/css/bootstrap.css?1.0.673" media="screen" />
    <script type="text/javascript" src="~/js/bootstrap.min.js?1.0.673"></script>
    <!--[if lte IE 9]>
    <link rel="stylesheet" href="~/css/layout.ie.css?1.0.673">
    <script src="~/js/layout.ie.js?1.0.673"></script>
    <![endif]-->
    <link class="" href='//fonts.googleapis.com/css?family=Open+Sans:300,300italic,regular,italic,600,600italic,700,700italic,800,800italic&subset=latin' rel='stylesheet' type='text/css'>
    <script type="text/javascript" src="~/js/layout.core.js"></script>
    <script src="~/js/CloudZoom.js?1.0.673"></script>
    <title>Home Page</title>
    <link rel="stylesheet" href="~/css/style.css?1.0.673">
    <script src="~/js/script.js?1.0.673"></script>
    <meta charset="utf-8">
    <meta name="keywords" content="HTML, CSS, JavaScript">
    <style>
        a {
            transition: color 250ms linear;
        }
    </style>
</head>
<body class=" bootstrap bd-body-1
 bd-homepage bd-pagebackground-3  bd-margins">
    <header class=" bd-headerarea-1 bd-margins">
        <div data-affix data-offset="" data-fix-at-screen="top" data-clip-at-control="top" data-enable-lg data-enable-md data-enable-sm class=" bd-affix-2 bd-no-margins bd-margins ">
            <section class=" bd-section-4 bd-tagstyles " id="section3" data-section-title="Page High Slider Header">
                <div class="bd-container-inner bd-margins clearfix">
                    <div class=" bd-layoutbox-3 bd-page-width  bd-no-margins clearfix">
                        <div class="bd-container-inner">
                            <div class=" bd-layoutbox-12 bd-no-margins bd-no-margins clearfix">
                                <div class="bd-container-inner">
                                    <a class=" bd-logo-3" href=""> <img class=" bd-imagestyles" src="~/images/0fa3b3e6540310331b0f20c5ee4dac3a_logoluisaugustoferreira.png"></a>
                                </div>
                            </div>
                            <div class=" bd-layoutbox-17 bd-no-margins bd-no-margins clearfix">
                                <div class="bd-container-inner">
                                    <nav class=" bd-hmenu-3" data-responsive-menu="true" data-responsive-levels="expand on click" data-responsive-type="" data-offcanvas-delay="0ms" data-offcanvas-duration="700ms" data-offcanvas-timing-function="ease">
                                        <div class=" bd-menuoverlay-1 bd-menu-overlay"></div>
                                        <div class=" bd-responsivemenu-2 collapse-button">
                                            <div class="bd-container-inner">
                                                <div class="bd-menuitem-10 ">
                                                    <a data-toggle="collapse" data-target=".bd-hmenu-3 .collapse-button + .navbar-collapse" href="#" onclick="return false;"> <span>MENU</span> </a>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="navbar-collapse collapse ">
                                            <div class=" bd-horizontalmenu-1 clearfix">
                                                <div class="bd-container-inner">
                                                    <ul class=" bd-menu-1 nav nav-pills navbar-left">
                                                        <li class=" bd-menuitem-5 bd-toplevel-item"><a asp-area="" asp-controller="Home" asp-action="Index" class="active">Home</a></li>
                                                        <li class=" bd-menuitem-5 bd-toplevel-item"><a asp-area="" asp-controller="Home" asp-action="About">Sobre</a></li>
                                                        <li class=" bd-menuitem-5 bd-toplevel-item"><a asp-area="" asp-controller="Home" asp-action="Contact">Contato</a></li>
                                                        <li class=" bd-menuitem-5 bd-toplevel-item"><a asp-area="" asp-controller="Categorias" asp-action="Index">Categorias</a></li>
                                                        <li class=" bd-menuitem-5 bd-toplevel-item"><a asp-area="" asp-controller="Empresas" asp-action="Index">Empresas</a></li>
s                                                    </ul>
                                                </div>
                                            </div>
                                            <div class="bd-menu-close-icon">
                                                <a href="#" class="bd-icon  bd-icon-25"></a>
                                            </div>
                                        </div>
                                    </nav>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </div>
    </header>
    <section class=" bd-section-1 bd-page-width bd-tagstyles " id="section3" data-section-title="Traveling Page High Slider Header">
        <div class="bd-container-inner bd-margins clearfix">
            <div id="carousel-5" class="bd-slider-5 bd-background-width  bd-slider bd-no-margins  carousel slide bd-carousel-fade">
                <div class="bd-slides carousel-inner">
                    <div class=" bd-slide-5 bd-textureoverlay bd-textureoverlay-5 bd-slide item">
                        <div class="bd-container-inner">
                            <div class="bd-container-inner-wrapper">
                                <div class=" bd-layoutbox-23 bd-no-margins clearfix">
                                    <div class="bd-container-inner">
                                        <h2 class=" bd-textblock-13 bd-no-margins bd-content-element">
                                            Bem vindo a
                                        </h2>
                                        <h3 class=" bd-textblock-15 bd-no-margins bd-content-element">
                                            zona barth
                                        </h3>
                                        <a href="" class="bd-linkbutton-6  bd-button-12  bd-own-margins bd-content-element">
                                            fitcard
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class=" bd-slide-7 bd-textureoverlay bd-textureoverlay-7 bd-slide item">
                        <div class="bd-container-inner">
                            <div class="bd-container-inner-wrapper">
                                <div class=" bd-layoutbox-27 bd-no-margins clearfix">
                                    <div class="bd-container-inner">
                                        <h2 class=" bd-textblock-17 bd-no-margins bd-content-element">
                                            desenvolvimento
                                        </h2>
                                        <h3 class=" bd-textblock-19 bd-no-margins bd-content-element">
                                            .net core
                                        </h3>
                                        <a href="" class="bd-linkbutton-9  bd-button-14  bd-own-margins bd-content-element">
                                            fitcard
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class=" bd-slide-8 bd-textureoverlay bd-textureoverlay-8 bd-slide item">
                        <div class="bd-container-inner">
                            <div class="bd-container-inner-wrapper">
                                <div class=" bd-layoutbox-30 bd-no-margins clearfix">
                                    <div class="bd-container-inner">
                                        <h2 class=" bd-textblock-21 bd-no-margins bd-content-element"> </h2>
                                        <h3 class=" bd-textblock-20 bd-no-margins bd-content-element">
                                            jQUERY
                                        </h3>
                                        <a href="" class="bd-linkbutton-11  bd-button-16  bd-own-margins bd-content-element">
                                            FITCARD
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class=" bd-slide-9 bd-textureoverlay bd-textureoverlay-9 bd-slide item">
                        <div class="bd-container-inner">
                            <div class="bd-container-inner-wrapper">
                                <div class=" bd-layoutbox-32 bd-no-margins clearfix">
                                    <div class="bd-container-inner">
                                        <h2 class=" bd-textblock-25 bd-no-margins bd-content-element"> </h2>
                                        <h3 class=" bd-textblock-22 bd-no-margins bd-content-element">
                                            BOOTSTRAP
                                        </h3>
                                        <a href="" class="bd-linkbutton-12  bd-button-17  bd-own-margins bd-content-element">
                                            FITCARD
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class=" bd-slide-10 bd-textureoverlay bd-textureoverlay-10 bd-slide item">
                        <div class="bd-container-inner">
                            <div class="bd-container-inner-wrapper">
                                <div class=" bd-layoutbox-34 bd-no-margins clearfix">
                                    <div class="bd-container-inner">
                                        <h2 class=" bd-textblock-27 bd-no-margins bd-content-element"> </h2>
                                        <h3 class=" bd-textblock-26 bd-no-margins bd-content-element">
                                            WEB API
                                        </h3>
                                        <a href="" class="bd-linkbutton-13  bd-button-18  bd-own-margins bd-content-element">
                                            FITCARD
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="bd-left-button">
                    <a class=" bd-carousel-5" href="#"> <span class="bd-icon"></span> </a>
                </div>
                <div class="bd-right-button">
                    <a class=" bd-carousel-5" href="#"> <span class="bd-icon"></span> </a>
                </div>
                <script type="text/javascript">
                    /* <![CDATA[ */
                    if ('undefined' !== typeof initSlider) {
                        initSlider(
                            '.bd-slider-5',
                            {
                                leftButtonSelector: 'bd-left-button',
                                rightButtonSelector: 'bd-right-button',
                                navigatorSelector: '.bd-carousel-5',
                                indicatorsSelector: '.bd-indicators',
                                carouselInterval: 5000,
                                carouselPause: "hover",
                                carouselWrap: true,
                                carouselRideOnStart: true
                            }
                        );
                    }
                                                        /* ]]> */
                </script>
            </div>
        </div>
    </section>
    <div class=" bd-content-13">
        <div class=" bd-htmlcontent-1 bd-margins" data-page-id="page.0">
        </div>
    </div>
    <footer class=" bd-footerarea-1 bd-margins">
        <section class=" bd-section-2 bd-tagstyles" id="section2" data-section-title="">
            <div class="bd-container-inner bd-margins clearfix">
                <p class=" bd-textblock-1 bd-content-element">
                    © 2019 luisaugustoferreira.com.br
                </p>
            </div>
        </section>
    </footer>
    <div data-smooth-scroll data-animation-time="250" class=" bd-smoothscroll-3">
        <a href="#" class=" bd-backtotop-1 "> <span class="bd-icon-67 bd-icon "></span></a>
    </div>
</body>
</html>